<% content_for(:title) do %>
  <%= display_resource_name(page.resource_name) %>
<% end %>

<header class="header">
  <h1 class="header__heading" id="page-title"><%= content_for(:title) %></h1>
</header>

<section class='filters'>
  <a class='button filter-toggle show' href='#'></a>
  <section class='collection-filters slider hide'>
    <h1>Report Filters</h1>
    <div class='filter-group' style='position: relative;'>
      <%= label_tag :week %>
      <input type='text' id='weeklyDatePicker' placeholder="Select Week" />
    </div>
    <button class='button filter-run apply' href=''></button>
  </section>
</section>

<div class='table-wrapper'>
  <%= render "collection", collection_presenter: page, resources: resources %>
</div>
