div#error_explanation {
  margin-left: 24px;
  margin-bottom: 24px;
  display: inline-block;
  border: 1px solid #ebccd1;
  background-color: rgba(250, 110, 120, .7);
  padding: 20px;
  border-radius: 5px;
}

div#error_explanation li {
  margin-left: 24px;
}
