<ul class="sidebar__list">
  <% Administrate::Namespace.new(namespace).resources.each do |resource| %>
    <% unless [:truck_logs].include? resource %>
      <li>
        <%= link_to(
          display_resource_name(resource),
          [namespace, resource],
          class: "sidebar__link sidebar__link--#{nav_link_state(resource)}"
        ) %>
      </li>
    <% end %>
  <% end %>
</ul>
